{
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 85,
  "singleQuote": false,
  "trailingComma": "none",
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf"
}
